html{
    font-family: 'Open Sans',sans-serif !important;
    font-size: 15px;
    line-height: 1.5;
    /* chuẩn phông chữ cho toàn bộ trang */
}
*{
    padding:0;  
    margin:0;
    box-sizing:border-box;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height:80px;
    background-color:white;
    
}
.container{
    display: flex;
    justify-content: space-around;
}
.logo img{
    display: inline-block;
    vertical-align: middle;
}
.nal{
    display: flex;
    list-style-type: none;
}
.nal li a{
    line-height:80px;
    color: #BBBBBB;
    margin:0 10px;
}
.nal li a:hover{
    color: black;
}
a{
    text-decoration: none;
}
.subnal{
    display: none;
}.loginslider{
    height: 635px;
    background-image: url(/image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.boxcover{
    height: 575px;
    background-color: rgba(0,0,0, 0.6);
    position: relative;
    top:60px;
}
.boxlogin{
    height: 533px;
    width: 360px;
    background-color: rgba(0,0,0, 0.6);
    position: relative;
    left: 320px;
    top : 10px;
    border-radius: 5px;
    padding:0 20px ;
}
.login {
    text-align: center;
    color: #AAAAAA;
}
.login>h1{
    color: #FFFFFF;
    margin: 20px 0 10px;
    size: 28px;
}
.arraylogin{
    margin-top: 20px;
}
.arraylogin input{
    width: 100%;
    padding: 14px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.arraylogin button{
    width: 100%;
    height: 58px;
    padding: 14px 15px;
    margin-bottom: 35px;
    background-color: #009cde;
    color: white;
    border-radius: 5px;
}
.arraylogin button:hover{
    background-color: rgba(0, 110, 255, 0.644);
}
.log-input>p{
    margin-bottom: 10px;
}
.picture-mega{
    height: 500px;
}
.picture-mega .row{
    display: flex;
    padding: 0 10px;
}
.picture-mega>.container{
    margin: 60px 150px;
}
/* box1 */
.picture-mega .row-box1{
    padding: 0 10px;
}
.picture-mega .otherbox1{
    width: 300px;
    height: 370px;
    background-color: #F4F4F4;
    text-align: center;
    margin: 10px 0;
    padding: 65px 10px;
    margin: 10px 0;
}
.otherbox1>img{
    margin:auto;
    height:50px;
    width: 50px;
    margin-bottom: 30px;
}
.otherbox1>h2{
    margin: 10px 0;
}
/* box2 */
.picture-mega .row-box2{
    padding: 0 10px;
}
.picture-mega .otherbox2{
    width: 300px;
    height: 370px;
    background-color: #009CDE;
    text-align: center;
    color: #FFFFFF;
    padding: 65px 10px;
    margin: 10px 0;
}
.otherbox2>img{
    margin:auto;
    height:50px;
    width: 50px;
    margin-bottom: 30px;
}
.otherbox2>h2{
    margin: 10px 0;
}
/* box3 */
.picture-mega .row-box3{
    padding: 0 10px;
}
.picture-mega .otherbox3{
    width: 300px;
    height: 370px;
    background-color: #F4F4F4;
    text-align: center;
    margin: 10px 0;
    padding: 65px 10px;
}
.otherbox3>img{
    margin:auto;
    margin-bottom: 30px;
    height:50px;
    width: 50px;
}
.otherbox3>h2{
    margin: 10px 0;
}
